body {
  height: 100vh;
  color: white;
  background: radial-gradient(ellipse at center, #1f355e, #101a33);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}

h1 {
  font-size: 60px;
}


#route-form {
  display: flex;
  flex-direction: row;
  color: white;
}

#route-form input {
  border-radius: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-family: roboto;
  color: white;
  font-size: 20px;
}

#route-form input::placeholder {
  color: white;
}

#swap-btn {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
  background: none;
  border: none;
}

#swap-btn:hover {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
  cursor: pointer;
}
